@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-coklat: #917a36;
  --color-hitam: #191919;
  --color-abu: #8b8b8b;
  --color-chatbotsidebar: #110b0b;
  --color-merahhitam: #110b0b;
  --color-abutua: #202020;
  --color-abu-abu: #707070;
  --color-iconMale: #7b61ff;
  --color-iconFemale: #d97f3b;
  --color-submit: #4a4654;
  --color-ungu: #999999;
  --color-ungutua: #181e2d;
  --color-oren: #d97f3b;
}
